body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: white;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}

table tr td{
  border: 1px solid black;
}

tr td {
  padding: 10px;
}
.center-text {
text-align: center;
}

.splash-image {
  width: 100%;
  height: auto;
  max-height: 100%;
}


.container {
  display: inline;
}


.prod-name {
  font-size: 12px;
}

.prod-thumbnail {
  width: 20%;
  float: left;
  margin-bottom: 30px;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  margin-right: 5%;
  width: 80%;
  float: right;
}

.filter {
  width: 10%;
  float: left;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.filter-top-row {
  font-weight: bold;
}

.filter-row {
  overflow: hidden;
  margin-left: 10px;
}

.right {
  float: right;
}

.left {
  float: left;
}

.shopping-cart {
  margin-right: 100px;
}

.header-icon {
  height: 50px;
  width: 50px;
  margin-left: 100px;
}

.add-to-cart-button {
  margin-left: 47.5%;
}

.cart-prod {
  margin-left: 200px;
  margin-right: 200px;
}

.about-website {
  position: absolute;
  left: 47%;
  top: 50%;
  color: black;
  text-shadow:
    -1px -1px 0 #FFFFFF,
    1px -1px 0 #FFFFFF,
    -1px 1px 0 #FFFFFF,
    1px 1px 0 #FFFFFF;
}

.welcome-title {
  position: absolute;
  color: black;
  top: 1%;
  left: 36%;
  text-shadow:
    -1px -1px 0 #FFFFFF,
    1px -1px 0 #FFFFFF,
    -1px 1px 0 #FFFFFF,
    1px 1px 0 #FFFFFF;
}
